body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.login-box {
    width: 320px;
    padding: 25px;
    margin: 120px auto;
    background: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.2);
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.login-box button {
    width: 95%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
}

header {
    background: #ffffffaa;
    padding: 15px;
    text-align: center;
    backdrop-filter: blur(5px);
}

.logout {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 8px 12px;
    border: none;
    background: red;
    color: white;
    border-radius: 6px;
}

.search-box {
    text-align: center;
    margin-top: 25px;
}

.search-box input {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #444;
}

.search-box button {
    padding: 10px 18px;
    border: none;
    background: #0056ff;
    color: white;
    border-radius: 6px;
}

.weather-card {
    width: 85%;
    margin: 30px auto;
    padding: 20px;
    background: #ffffffdd;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}